<h1>Buy Stock </h1>

<% if @stock %>
  <div class="jumbotron user-info company-info">
    <img src="<%= @company_logo %>" class="company-logo" alt="">
    <div>
    <h1 class="display-4"><%= @stock.name %></h1>
    <strong>Symbol: </strong> <%= @stock.ticker.upcase %> |
    <strong>Price: </strong> <%= @stock.last_price %>
    </div>
  </div>
<% else %>
  <div class="jumbotron user-info company-info">
    <img src="<%= @company_logo %>" class="company-logo" alt="">
    <div>
    <h1 class="display-4"><%= @company_name %></h1>
    <strong>Symbol: </strong> <%= @symbol %> |
    <strong>Price: </strong> <%= @latest_price %>
    </div>
  </div>
<% end %>