<h3>Edit User</h3>

<%= form_with model: @user do |f| %>
<p>
    <%= f.label :name %><br/>
    <%= f.text_field :name, class: "form-control" %>
</p>

<p>
    <%= f.label :email %><br/>
    <%= f.text_field :email, class: "form-control"%>
</p>
<br><br>
<p>
    <%= f.submit "Edit User",  class: "btn btn-success add-user"%>
</p>

<% end %>
