<h1>All Users</h1>
<div class="table-responsive-md">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Registration Status</th>
                <th></th>
            <tr>
        </thead>

        <tbody>
            <% @users.where(:admin => false, :status => 'approved').each do |user| %>
                    <tr>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <td class='user-status'><%= user.status %></td>
                        <td><%= link_to 'Show', user_path(user) %>
                        <%= link_to 'Edit', edit_user_path(user) %>
                        <%= link_to 'Delete', user_path(user), method: :delete, data: {confirm: "Are you sure?"}  %></td>
                    <tr>
            <% end %>
        <tbody>
    </table>
</div>

<h1>Pending Users</h1>

<div class="table-responsive-md">
<% if @users.where(:admin => false, :status => 'pending').any? %>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Registration Status</th>
                <th></th>
            <tr>
        </thead>

        <tbody>
            <% @users.where(:admin => false, :status => 'pending' || nil).each do |user| %>
                    <tr>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <td class='user-status'><%= user.status %></td>
                        <td><%# <%= link_to destroy_user_session_path, method: :delete , class: "btn btn-xs btn-success" do %>
                            <%= link_to change_status_user_path(user, {status: 'approved'}), method: :patch, class: "btn btn-xs btn-success" do%>
                                    <i class='bx bx-check nav_icon'></i> 
                            <% end %>
                            <%= link_to change_status_user_path(user, {status: 'rejected'}), method: :patch, class: "btn btn-outline-danger" do %>
                                <i class='bx bx-x nav_icon'></i> 
                            <% end %>
                        </td>
                    <tr>
            <% end %>
            
        <tbody>
    </table>
    <% else %>
        <tr>
        <p>There are no records to display.</p>
        </tr>
    <% end %>
</div>

<h1>Rejected Users</h1>
<div class="table-responsive-md">
    <% if @users.where(:admin => false, :status => 'rejected').any? %>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Registration Status</th>
                    <th></th>
                <tr>
            </thead>

            <tbody>
            
                <% @users.where(:admin => false, :status => 'rejected').each do |user| %>
                        <tr>
                            <td><%= user.name %></td>
                            <td><%= user.email %></td>
                            <td class='user-status'><%= user.status %></td>
                            <td><%# <%= link_to destroy_user_session_path, method: :delete , class: "btn btn-xs btn-success" do %>
                                <%= link_to change_status_user_path(user, {status: 'approved'}), method: :patch, class: "btn btn-xs btn-success" do%>
                                        <i class='bx bx-check nav_icon'></i> 
                                <% end %>
                            </td>
                        <tr>
                <% end %>
            
            <tbody>
        </table>
    <% else %>
        <tr>
        <p>There are no records to display.</p>
        </tr>
    <% end %>
</div>
<%= link_to "Add User", new_user_registration_path %>

<%if false%>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% end %>