<%#= link_to root_path, class: "nav_logo" do%> <%#i class='bx bx-line-chart nav_logo-icon'></i> <span class="nav_logo-name">Stock App</span> <% end %>
        <% if current_user %>
            <header class="header" id="header">
                <div>
                <p class="header_text"><%= current_user.email %></p>
                </div>
                <div class="header_nav">
                <div class="header_toggle header_toggle-header"> <i class='bx bx-menu' id="header-toggle-header"></i> </div>
                <%= link_to root_path do%> <%= image_tag('Logo-long-col.svg', class: "header-logo") %> <% end %>
                <%#= link_to root_path, class: "header_logo" do%> <%#div><i class='bx bx-line-chart header_logo-icon'></i> <span class="header_logo-name">Stock App</span> </div><%# end %>
                <%# %= link_to "Logout", destroy_user_session_path, method: :delete %>
                </div>
            </header>
        <% else %>
            <header class="header-home" id="header">
                <div>
                    <%= link_to "Login", new_user_session_path, class: "btn btn-light" %>
                    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-light" %>
                </div>
                <div>
                    <%= link_to root_path do%><%= image_tag('Logo-long.svg', class: "header-logo") %> <% end %>
                </div>
            </header>
        <% end %>
